services:
  web:
    build: .
    ports:
      - "8090:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:13
    environment:
      POSTGRES_DB: stackflo_dev
      POSTGRES_USER: stackflo
      POSTGRES_PASSWORD: stackflo@321
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
    restart: unless-stopped
